{% extends 'base.html.twig' %}

{% block title %} Localisation!{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <div class="image">
        <img src="images/image1.png" alt="Image en Plein Écran" />
    </div>





    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}