{% extends 'base.html.twig' %}

{% block title %}TCE !{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <body>

    <section class="contact_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img-box">


                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <div class="form_container">
                        <div class="heading_container heading_center">
                            <p>
                                CONTENU NON LIVRER </p>






                        </div>
                    </div>
                </div>
    </section>
    </body>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
